.content {
    padding: 20px;

}
button {
    width: 100%;
    height: 50px;
    background-color: #9299ef !important;
    border-color: #9299ef !important;
    color: black !important;
    font-weight: bold !important;
}

.ios {
    display: none;
}

img {
    width: 100%;
    margin-bottom: 10px;
}
span {
    margin-bottom: 10px;
}
.text {
    font-weight: 500;
}

.alert {
    text-align: center;
    background-color: #9299ef;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 10px;
}